@page "/"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using Fluxor
@inject IState<HackState> State
@rendermode InteractiveServer
<style>
    body {
        width: 50%;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }
</style>

<PageTitle>Micial Hackathon</PageTitle>

<h1>Добро пожаловать на Micial Hackathon</h1>
<h2>платформа для проведения соревнований по программированию</h2>
<img width="646" height="350"
     src="https://blog.skillbox.by/wp-content/uploads/code/vsye-o-khakatonakh-dlya-novichkov.json/983c16aedba94e8cb42ad6f2c8dc7471.webp"
     class="attachment-Blog_img size-Blog_img wp-post-image" alt="" decoding="async" fetchpriority="high">
<div class="text__block " id="">
    <h2 id="1">Что такое хакатон</h2>
    <p>Хакатон — это событие, на котором программисты, дизайнеры и менеджеры сообща решают какую-то проблему за
        ограниченное время, соревнуясь между собой. Слово «хакатон» образовалось от hacker («хакер») и marathon
        («марафон»). Первый хакатон провели в 1999 году разработчики OpenBSD и Sun Microsystems. Остальное — уже
        история!</p>
    <p>Обычно цель хакатона — создать полноценную версию программы или сервиса для какой-то компании. Каждый хакатон
        сфокусирован на конкретной области знаний — языке программирования, операционной системе, специфических типах
        приложений или программном интерфейсе (API).</p>
    <p>Чаще всего на хакатонах создают работающий прототип программы или сервиса для какой-то компании. Каждое
        мероприятие сфокусировано на конкретной области знаний — языке программирования, операционной системе,
        специфических типах приложений или программном интерфейсе (API).</p>
    <p>Например, на ML-хакатоне от Avito участникам давали задание разработать ИИ-модель, которая сможет рекомендовать
        пользователю наиболее релевантную рекламу. Каждому из участников предоставляли набор анонимных данных о
        взаимодействии пользователей с объявлениями. Та модель, которая лучше всех предсказывала вероятность клика,
        побеждала на хакатоне.</p>
</div>
<div class="text__block " id="">
    <h2 id="2">Какие бывают хакатоны</h2>
    <p>Хакатоны устраивают не только для программистов, но и для дизайнеров и менеджеров. Призы тоже бывают разные:
        крупная сумма, помощь в развитии проекта, оффер в компанию, льготы при поступлении в вуз или просто плюсик в
        карму (благотворительные хакатоны).</p>
    <p></p>
    <p>«Как правило, у хакатонов либо образовательные, либо коммерческие цели. Причём в России хакатоны чаще именно
        коммерческие: компания хочет решить какую-то технологическую проблему или массово нанять разработчиков».</p>
    <p>Александр Сидоренко,опытный хакатонист и JS-разработчик</p>
    <p>Пример коммерческого хакатона — проект ARCHI.Tech от ВТБ. Победители получили денежные призы и офферы на работу в
        компании — видимо, это была попытка захантить талантливых архитекторов.</p>
    <p></p>
    <p>«На мой взгляд, есть деление по типам организаторов. Например, у хакатонов от коммерческих компаний цель —
        продвижение HR-бренда и хантинг разработчиков, а сообщества чаще всего проводят хакатоны, чтобы просто сделать
        что-то клёвое».</p>
    <p>Михаил Корнеев,тимлид в BestDoctor, автор ютуб-канала «Хитрый питон»</p>
    <p>Учебных хакатонов в России единицы. И в них, как правило, либо вообще нет призового фонда, либо он чисто
        символический. В хакатонах, которые запускают энтузиасты, денег тоже негусто — хотя и идут в них совсем не для
        того, чтобы «поднять бабла». Например, у образовательного хакатона «Прожектор 2021» от «Теплицы социальных
        технологий» и «Новой газеты» был всего один приз в 110 тысяч рублей.</p>
</div>
@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        
        if (!firstRender)
            return;
        
        var x = State.Value;
    }
}
